@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'svg_icons';

// 기본 폰트 설정
$font-family-default: 'NEXON Gothic';
$font-gmarket: 'GmarketSans';
$font-spoqa: 'SpoqaHanSans';
$font-color-default: #000;

body {
    position: relative;
    color: $font-color-default;
    font-family: $font-family-default, sans-serif;
    line-height: 1.25;
    word-wrap: break-word;
    word-break: keep-all;
}

img {
    position: static !important;
}

.swiper {
    position: fixed !important;
    top: 0;

    img {
        position: relative !important;
        object-fit: contain;
        width: 100%;
    }
}

#wrapper.main-category-fix .mobile-main-shop-category {
    left: 0;
    position: fixed;
    top: 0;
    transition: padding 0.2s ease;
    width: 100%;
    z-index: 101;
}
.header {
    nav {
        // display: none;
        // min-width: 400px;
        // .search-input {
        //     padding: 15px 32px 15px 8px;
        //     border-bottom: 1px solid #000;
        //     width: 400px;
        //     height: 52px;
        //     &:focus {
        //         outline: none;
        //     }
        // }
    }
    .search-button {
        background: iconSearch('000') no-repeat 50%;
    }
    .header-buttons {
        button {
            display: none;
            width: 20px;
            height: 20px;
            &.mobile-view {
                display: block;
            }
            &[name='검색'] {
                background: iconSearch('000') no-repeat 50%;
            }
            &[name='로그인'] {
                background: iconLogin('000') no-repeat 50%;
            }
            &[name='장바구니'] {
                background: iconCart('000') no-repeat 50%;
            }
            &[name='유저'] {
                background: iconUser('000') no-repeat 50%;
            }
        }
    }
}

.main-contents {
    order: 2;
    .main-banner {
        img {
            width: 100vw !important;
        }
        article {
            padding: 24px 32px;
            h1 {
                font-size: 20px;
                font-weight: bold;
                padding-bottom: 4px;
            }
            p {
                font-size: 14px;
                line-height: 1.4rem;
                font-weight: 400;
            }
        }
    }
}

.mobile-main-shop-category {
    ul {
        &::-webkit-scrollbar {
            display: none;
        }
        &:after {
            content: '';
            background: linear-gradient(270deg, #fff, hsla(0, 0%, 100%, 0));
            height: 60px;
            position: absolute;
            right: 0;
            width: 80px;
        }
        li {
            text-transform: uppercase;
            &:first-of-type {
                padding-left: 20px;
            }
        }
    }
}

// 임의 데이터

.item-wrap {
    margin-bottom: 60px;
    &::-webkit-scrollbar {
        display: none;
    }
}

.item-info {
    li {
        // &:first-of-type {
        //     display: block;
        //     padding-bottom: 5px;
        //     span {
        //         padding-top: 5px;
        //         display: block;
        //     }
        // }

        &.price {
            padding-left: 10px;
            &::before {
                content: '';
                height: 75%;
                left: 0;
                position: absolute;
                top: 50%;
                transform: translateY(-55%);
                width: 1px;
                background: #000;
            }
        }
        span {
            &.salePrice {
                color: #df4a3c;
                font-weight: bold;
            }
        }
    }
}
