@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'NEXON Gothic';
        font-weight: normal;
        font-style: normal;
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff')
        format('woff');
    }

    @font-face {
        font-family: 'NanumGothic';
        font-style: normal;
        font-weight: normal;
        src: url('//fonts.googleapis.com/earlyaccess/nanumgothic.css')
        format('woff2');
    }

    body,
    html {
        font-family: 'NEXON Lv1 Gothic', sans-serif;
        height: 100vh;
        position: relative;
    }
    img {
        position: static !important;
    }
    ul::-webkit-scrollbar {
        display: none;
    }
    .swiper {
        position: sticky !important;
        top: 0;

        img {
            position: relative !important;
            object-fit: contain;
            width: 100%;
        }
    }
    input {
        @apply outline-0;
    }
    input[type='text'] {
        @apply h-[52px] min-w-[320px] border-b border-gray-40 px-2 text-body2 focus:border-primaryBlack;
    }
    input[type='checkbox'] {
        @apply hidden;
        &:checked + .checkbox {
        @apply border-primaryBlack bg-primaryWhite opacity-100 transition-all invert;
        }
        &:checked ~ span {
        @apply text-primaryBlack;
        }
        &:disabled + .checkbox {
        @apply bg-gray-40;
        }
    }
    input[type='search'] {
        @apply h-[52px] min-w-[320px] border-b bg-no-repeat px-2 text-body2 focus:border-primaryBlack bg-pageSearch;
        background-position: calc(100% - 0.5rem) 50%;
        &::-webkit-search-cancel-button {
        @apply mr-[30px] h-5 w-5 cursor-pointer bg-searchDelete;
        -webkit-appearance: none;
        }
    }
    input[type='radio'] {
        &:checked {
        @apply cursor-pointer border-[6px] border-primaryBlack;
        }
        &:disabled {
        @apply bg-gray-20;
        & ~ span {
            @apply text-gray-50;
        }
        }
    }
    }

    @layer components {
    .svg-text-container {
        @apply flex items-center gap-1;
    }
    .vertical-divder-line {
        @apply absolute left-1/2 top-1/2 h-4 w-px -translate-x-1/2 -translate-y-1/2 bg-gray-70;
    }
    .filled-white {
        @apply border-none bg-primaryWhite hover:bg-gray-20 disabled:bg-primaryWhite disabled:text-gray-50 disabled:hover:bg-primaryWhite;
    }
    .filled-gray {
        @apply border-none bg-gray-40 hover:bg-gray-50 disabled:bg-gray-20 disabled:text-gray-50 disabled:hover:bg-gray-20;
    }
    .filled-black {
        @apply border-none bg-primaryBlack text-primaryWhite hover:bg-gray-80 disabled:bg-gray-20 disabled:text-gray-50 disabled:hover:bg-gray-20;
    }
    .outline-gray {
        @apply border border-gray-40 bg-primaryWhite hover:bg-gray-20 disabled:text-gray-50 disabled:hover:bg-primaryWhite;
    }
    .outline-black {
        @apply border border-primaryBlack bg-primaryWhite hover:bg-gray-20 disabled:border-gray-40 disabled:text-gray-50 disabled:hover:bg-primaryWhite;
    }

    .badge-tip {
        @apply h-[6px] w-[6px] rounded-md bg-red-70;
    }
    .badge-circle {
        @apply h-[18px] min-w-[18px] rounded-xl bg-red-70 px-[5px] text-center text-caption font-bold leading-[18px] text-primaryWhite;
    }
    .badge-squre {
        @apply h-5 px-[6px] pb-[1px] pt-[3px] text-center text-label font-bold uppercase text-primaryWhite;
    }
    .new {
        @apply w-[37px] bg-red-70;
    }
    .soon {
        @apply w-[42px] bg-blue-70;
    }
    .soldout {
        @apply w-[65px] bg-gray-50;
    }
    .interest-free {
        @apply w-[94px] bg-green-70;
    }
    .tinny {
        @apply h-5 w-5 cursor-pointer border border-gray-40 text-center text-caption leading-[20px] disabled:text-gray-50;
    }
    .squre-xs {
        @apply rounded hover:bg-gray-40/50;
    }
    .circle-xs {
        @apply rounded-xl hover:bg-gray-40/50;
    }
    .label {
        @apply flex cursor-pointer gap-1 bg-no-repeat disabled:text-gray-50;
    }
    .label-xs {
        @apply text-button4;
    }
    .label-s {
        @apply text-button3;
    }
    .btn {
        @apply box-border flex w-max cursor-pointer items-center justify-center gap-1 rounded disabled:text-gray-50;
    }
    .btn-xs {
        @apply h-8 min-w-[111px] px-3 py-1.5 text-button4;
    }
    .btn-s {
        @apply h-10 min-w-[120px] px-4 py-[9px] text-button3;
    }
    .btn-md {
        @apply h-[52px] min-w-[155px] px-6 py-[15px] text-button3;
    }
    .btn-lg {
        @apply h-[60px] min-w-[169px] rounded-lg px-8 py-[17px] text-button2;
    }
    .btn-xl {
        @apply h-[72px] min-w-[264px] rounded-lg px-[60px] py-[21px] text-button1;
    }
    .btn-fixed-bottom {
        @apply fixed bottom-0 left-0 z-30 h-[60px] w-full rounded-none bg-primaryBlack text-button2 text-primaryWhite;
    }
    .icon {
        @apply flex cursor-pointer items-center justify-center bg-center bg-no-repeat;
    }
    .squre-s {
        @apply h-8 w-8 rounded;
    }
    .squre-md {
        @apply h-10 w-10 rounded;
    }
    .squre-lg {
        @apply h-[52px] w-[52px] rounded;
    }
    .circle-s {
        @apply h-8 w-8 rounded-full;
    }
    .circle-md {
        @apply h-10 w-10 rounded-full;
    }
    .circle-lg {
        @apply h-[52px] w-[52px] rounded-full;
    }
    .tooltip {
        @apply relative flex min-w-[164px] gap-2 rounded bg-green-70 px-3 py-1.5 text-body4 text-primaryWhite;
        &::after {
        @apply absolute left-1/2 start-1/2 top-8 -translate-x-1/2 border-x-8 border-t-8 border-solid border-t-green-70 content-[''];
        }
    }
    .checkbox {
        @apply relative inline-block h-5 w-5 cursor-pointer border border-gray-50 bg-center align-top opacity-30 bg-check;
        & ~ span {
        @apply text-gray-60;
        }
    }
    .btn-radio {
        @apply h-5 w-5 cursor-pointer appearance-none rounded-full border border-gray-40 text-body2 transition-all;
    }
    .btn-chip {
        @apply flex items-center justify-center rounded-[17px] bg-gray-20 px-3 py-[6px] text-body3 text-gray-60 hover:bg-gray-30 focus:bg-primaryBlack focus:text-primaryWhite active:bg-gray-80 disabled:bg-gray-20 disabled:text-gray-50;
    }
}

@keyframes slideUp {
    from {
        top: 3.125rem;
        z-index: 2;
    }
    to {
        top: -140px;
        z-index: -50;
    }
}

@keyframes slideDown {
    from {
        top: -140px;
    }
    to {
        top: 3.125rem;
        z-index: 2;
    }
}


.footer-info-wrapper {
    .footer-info {
        position: absolute;
        top: -130px;
        z-index: -50;
        animation-duration: 0.3s;
        animation-direction: normal;
        animation-fill-mode: forwards;
        &[data-open='true'] {
            animation-name: slideDown;
        }
        &[data-open='false'] {
            animation-name: slideUp;
        }
    }
}
